.links {
  display: flex;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;

  background: rebeccapurple;
  color: white;
  font-family: Helvetica;
  font-weight: 300;

  &__item {
    padding: 16px 16px;
    cursor: pointer;
    vertical-align: middle;
  }
}

.cart {
  display: flex;
  
  &__carticon {
    width: 1.35rem;
    height: 1.35rem;
  }
}